<div th:fragment="project" class="projectIn">
    <div th:object = "${project}">
        <header class="projectIn-header">
            <div class="projectIn-header-top">
                <h2 th:text = "*{name}"></h2>
                <a th:href="*{githubUrl}" target="_blank">
                    <img th:src="@{/images/github-logo.png}" alt="github" class="github-icon">
                </a>
            </div>
            <p class="projectIn-subtitle" th:text="*{subtitle}">
            </p>
        </header>

        <section class="projectIn-description">
            <p th:text="*{description}">
            </p>
        </section>

        <section class="projectIn-images">
            <figure th:each="p : *{imageUrl}">
                <img th:src="@{${p.value}}"
                     alt="Project Screen Shot">
                <figcaption th:text="${p.key}"></figcaption>
            </figure>
        </section>

        <section class="projectIn-status">
            <p th:text = "*{status}"></p>
        </section>

        <section class="projectIn-features">
            <h3>Key Features:</h3>
            <ul>
                <li th:each="f : *{feature}" >
                    <b th:text="${f.key}">Home Price Prediction:</b>
                    <span th:text="${f.value}"></span>
                </li>
            </ul>
        </section>

        <section class="projectIn-learning">
            <h3>What I Learned / Achieved</h3>
            <ul th:each="l : *{learned}">
                <li th:text="${l}"></li>
            </ul>
        </section>
    </div>
</div>
